body {
    text-align: center;
    margin: 0;
    /* n'affiche pas d'ascensseur */
    overflow: hidden; 
    background-color: olive;
}
canvas { 
    background-color : lightslategrey;
    height:100vh;
}
/* screen {
    text-align: 
} */